@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.hideme
{
    opacity:0;
}

/* Navigation bar */

header {
  background: #282828;
  
}

header::after {
  content: '';
  display: table;
  clear: both;
}

h1.logo {
  float: left;
  padding: 9px 0;
  color: white;
  font-size: 16px;
  width: 90px;
  border: 2px solid white;
  margin-top: 12px;
  text-align: center;
}

nav {
    height: 80px;
    width: 100%;
}

nav .icon {
    display: none;
}

nav .navlist {
    float: right;
    padding-left: 50px;
    margin-right: 10px;
}

nav .list {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

nav a:focus{
    color: white;
    outline: none;
    text-decoration: none;
}

nav a:hover {
  color: #c5c9c9;
  text-decoration: none;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c5c9c9;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

nav a:hover::before {
  width: 100%;
}

.row{
    text-align: center;
}

.linkslogo{
    color: #fff;
}

.linkslogo:hover, .linkslogo:focus{
    font-weight: bold;
    color : #fff;
    text-decoration: none;
}

#hero{
    background: linear-gradient(to top, #b3e6ff, #286da8);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Header for welcome sign*/

#hero > h1 {
    color: #fff;
    margin-top: -60px;
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
    -webkit-animation-duration: 3s;
}


#hero  > #underSign{
  font-size: 20px;
  padding-top: 40px;
}

/* Button style */

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    padding: .5em 1.75em;
}

.button-accent{
    color: #fff;
}

.button-accent:hover{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    text-decoration: none;
}

.button-accent:focus{
    color: #fff;
    text-decoration: none;
}

#iconrow{
    padding: 60px;
    outline: 2px solid #000;
    outline-offset: -2em;
}

#iconrow2{
    padding: 60px;
    outline: 2px solid #000;
    outline-offset: -2em;
}

#middlepage{
    padding: 65px;
}

#middlepage > h3{
    padding-right: 24px;
}

h5{
    font-size: 20px;
}

.card-img-top{
    height: 250px;
    length: 50px;
}

.card-title{
    padding-top: 10px;
}

/* Button for projects */

.btn-primary{
    background-color: black;
    border-color: black;
}

.btn-primary:hover{
    background-color: #c5c9c9;
    border-color: #c5c9c9;
    color: black;
}

.btn-primary:focus{
    background-color: #c5c9c9;
    border-color: #c5c9c9;
    text-decoration: none;
    outline: none;
}

.card-body{
    padding: 20px;
}

.linkslogobottom{
    color: #161616 ;
}

.linkslogobottom:hover, .linkslogobottom:focus{
    font-weight: bold;
    text-decoration: none;
    color: black
}

.column {
    flex: 25%;
    padding: 10px;
}

/* footer */

.footer{
    background: #282828;
    padding: 53px;
    color: #fff;
}

#footertext{
    text-align: center;
    font-size: 40px;
}

.footer .fab.fa-github:hover{
    font-size: 44px;
}

.footer .fas.fa-envelope:hover{
    font-size: 44px;
}

.footer .fab.fa-linkedin:hover{
    font-size: 44px;
}

/* Mobile use */ 

 @media (max-width: 952px){
    label.logo{
      font-size: 27px;
      padding-left: 25px;
    }
    nav .navlist .list a{
      font-size: 16px;
    }
  }

  @media (max-width: 858px){
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    .navlist{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .2s;
    }
    nav .navlist .list{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav .navlist .list a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ .navlist{
      left: 0;
    }

    ul{
        text-align: center;
        padding-left: 10px;
    }

    li{
        display: inline-block;
    }
  }